.App {
  text-align: center;

}
nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  justify-content: flex-start;
  background-color: #F8F8F8;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #FFF;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #000;
  color: #FFF;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("pictures/wp8216073-air-conditioner-wallpapers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}
p {
  font-size: 45px;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
